@import "../../shared/css/manage-profile.css";

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container-fluid {
  display: grid;
  height: 100vh;
  width: 100vh;
  grid-template-columns: 4fr;
  grid-template-rows: 0.1fr 0.5fr 1.5fr 0.1fr;
  grid-template-areas:
    "header"
    "search"
    "employees"
    "footer";
  grid-gap: 0.5rem;
}

header {
  grid-area: header;
}

#search {
  grid-area: search;
}

.inner-search {
  padding: 20px;
}

#table-employees {
  grid-area: employees;
  text-align: center;
}

.table-inner {
  background: teal;
  border-radius: 5px;
  padding: 10px;
}

#col-eid {
  width: 170px;
  color: teal;
}

#col-ename {
  width: 1000px;
}

#edit-icon {
  color: deepskyblue;
  font-size: 25px;
}

#edit-icon:hover {
  color: rgb(121, 215, 247);
}

footer {
  background: rgb(56, 56, 61);
  grid-area: footer;
  text-align: center;
}

span {
  text-transform: uppercase;
  color: aliceblue;
  font-weight: 500;
}
